# Python bytecode / caches (covers all the __pycache__ dirs you listed)
__pycache__/
*.py[cod]

# Tox
.tox/

# Virtualenv-related stuff in this repo
/bin/
/lib/
pyvenv.cfg

# Packaging metadata
*.egg-info/
