.md-header__button.md-logo img,
.md-header__button.md-logo svg {
    height: 2.2rem !important;
    width: auto !important;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
.md-nav__title[for="__drawer"] {
    font-size: 0 !important;
    line-height: 0 !important;
}
@media screen and (max-width: 76.2344em) {
  .md-nav--primary .md-nav__title .md-logo {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

    position: absolute;
    left: .2rem;
    right: .2rem;
    top: .2rem;
    bottom: .2rem;
    margin: .2rem;
    padding: .4rem;
  }
}

@media screen and (max-width: 76.2344em) {
  .md-nav--primary .md-nav__title {
    height: 0 !important;
  }
}
.md-main__inner {
  max-width: none !important;
  padding: 0 !important;
  margin-top: 0 !important
}

.website-index-title { display: none; }

@media screen and (min-width: 76.2344em) {
  .website-index-title {
    display: block;
  }

  nav.md-nav.md-nav--primary > label.md-nav__title.website-index-title[for="__nav_list"] {
    margin-top: 0;
    margin-bottom: 15px;
  }

  nav.md-nav.md-nav--secondary > label.md-nav__title[for="__toc"] {
    margin-top: 0;
    margin-bottom: 15px;
  }

  .md-sidebar--secondary {
    width: var(--toc-sidebar-width);
  }
  :root {
    --toc-sidebar-width: 9rem;
  }
}

.md-sidebar--secondary .md-nav__title[for="__toc"],
.website-index-title {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.md-footer {
  position: relative;
  z-index: 10;
}

html, body { overscroll-behavior: none; }

.md-typeset h1 {
  margin-bottom: 0.25em !important;
}
